---
layout: default
---
<article {% if page.post %} id="post" {% endif %}>
  {% if page.post %}<a href="/blog">« Return to Blog</a>{% endif %}
  <header>
    {%- assign date_format = site.date_format | default: "%B %d, %Y" -%}
    <h1><a href="{{ page.url | relative_url }}">{{ page.title }}</a></h1>
    <p><time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: date_format }}</time></p>
    <div>
      {% comment %} thanks to granteagon's code {% endcomment %}
      {% assign hex2rgb_chars = 'a,b,c,d,e,f' | split: ',' %}
      {% assign hex2rgb_remainders = '10,11,12,13,14,15' | split: ',' %}
      {%- for cat in page.categories -%}
        {% assign cat_md5 = cat | md5 | split: "" | reverse %}
        {% assign catbase = 0 %}

        {% comment %} exponentation {% endcomment %}
        {%- for i in (0..31) -%}
          {% assign factor = 1 %}
          {%- for j in (0..i) -%}
              {% assign factor = factor | times: 16 %}
          {%- endfor -%}

          {% comment %} verification {% endcomment %}
          {%- for c in (0..5) -%}
            {%- if cat_md5[0][i] == hex2rgb_chars[c] -%}
              {% assign factor = factor | times: hex2rgb_remainders[i] %}
              {% assign catbase = catbase | plus: factor %}
              {% continue %}
            {%- endif -%}
          {%- endfor -%}
          {% assign factor = factor | times: cat_md5[i] %}
          {% assign catbase = catbase | plus: factor %}
        {%- endfor -%}
        <span class="category" style="background-color: hsl({{ catbase | modulo: 359 }}, 50%, 50%);">{{ cat }}</span>
      {%- endfor -%}
    </div>
  </header>
{{ content }}
  {% if site.comments.isso %}
  <hr><div id="isso-thread"></div>
  {% endif %}
  {% if site.comments.disqus %}
  <hr><div id="disqus_thread"></div>
  <script type="text/javascript">
    var disqus_shortname = "{{ site.comments.disqus_shortname }}";
    (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
  {% endif %}
</article>

{% if site.show_footer and page.previous.url or page.next.url %}
<footer>
  {% if page.next.url %}<a class="gray" href="{{ page.next.url | relative_url }}">« {{ page.next.title }}</a>{% else %}<span></span>{% endif %}
  {% if page.previous.url %}<a class="gray" href="{{ page.previous.url | relative_url }}">{{ page.previous.title }} »</a>{% else %}<span></span>{% endif %}
</footer>
{% endif %}
